/* Variables globales */
:root {
    --primary-color: #000509;
    --secondary-color: #6c757d;
    --third-color: #fafbfb;
    --font-family: Arial, sans-serif;
}

/* Style général de la page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--font-family);
}

/* Style du conteneur principal */
.marathon {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

/* Style du titre */
.title {
    text-align: center;
    font-family: var(--font-family);
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    word-spacing: 2px;
}

/* Style du formulaire d'inscription */
#inscription {
    width: 100%;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
}

#inscription .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#form {
    width: 100%;
}

/* Style des groupes de champs du formulaire */
.form-group {
    width: 100%;
    margin-bottom: 20px; /* Réduit l'espace entre les lignes */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espace les éléments uniformément */
}

.form-group > div {
    width: calc(50% - 10px); /* 50% de largeur moins un petit espace entre les colonnes */
    margin-bottom: 15px;
}

/* Style des champs de saisie */
.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}


/* Style du bouton de soumission */
.button {
    display: flex;
    justify-content: center;
}

.button input[type="submit"] {
    padding: 10px 30px;
    background-color: var(--secondary-color);
    color: var(--third-color);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 25px;
}

.button input[type="submit"]:hover {
    background-color: var(--primary-color);
}

/* Style du tableau */
.container {
    width: 100%;
    overflow-x: auto;
}

#tableau {
    border-collapse: collapse;
    width: 100%;
    min-width: 600px;
    border: 1px solid #ddd;
}

#tableau th, #tableau td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#tableau th {
    background-color: #f0f0f0;
}

#tableau input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
